{% extends "base.html.twig" %}
{% block title %}
	Anasayfa
{% endblock %}
{% block content %}
	<div class="recent-post">
		<div class="row mb-15">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Son Gönderiler</h3>
				</div>
			</div>
		</div>
		<div class="row">
			{% for post in posts %}
				<div class="col-md-6 col-left">
				<div class="card rounded-0 border-0">
					<a href="{{ path('blog.show', {slug : post.slug}) }}" class="post-img">
						<img src="assets/images/post-4.jpg" class="card-img-top rounded-0" alt="">
					</a>
					<div class="card-body">
						<div class="post-category">
							<a href="blog-list.html">{{ post.title }}</a>
						</div>
						<a href="{{ path('blog.show', {slug : post.slug}) }}">
							<h5 class="card-title">{{ post.content }}</h5>
						</a>
						<ul class="post-meta">
							<li>
								<a href="about.html">{{ post.author }}</a>
							</li>
							<li>
								20 April 2018
							</li>
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-md-12">
				<a href="blog-list.html" class="btn btn-outline-primary btn-lg btn-block">View More</a>
			</div>
		</div>
	</div>
{% endblock %}
